@model ApiManager.Web.Models.TaskViewModel

    <div class="form-group row">

        <div class="col-lg-6">
            @Html.LabelFor(model => model.ReceiverViewModel.FTPViewModel.FtpSyncMethod)
            @Html.EnumDropDownListFor(model => model.ReceiverViewModel.FTPViewModel.FtpSyncMethod, "Select method", new { @class = "form-control" })
        </div>
        <div class="col-lg-6">
            @Html.LabelFor(model => model.ReceiverViewModel.FTPViewModel.FtpConnectionType)
            @Html.EnumDropDownListFor(model => model.ReceiverViewModel.FTPViewModel.FtpConnectionType, "Select type", new { @class = "form-control" })
        </div>
    </div>

    <div class="form-group row">
        
        <div class="col-lg-4">
            @Html.LabelFor(model  => model.ReceiverViewModel.FTPViewModel.FTPServerAddress)
            @Html.EditorFor(model => model.ReceiverViewModel.FTPViewModel.FTPServerAddress, new { htmlAttributes = new { @class = "form-control" } })
        </div>
        <div class="col-lg-2">
            @Html.LabelFor(model => model.ReceiverViewModel.FTPViewModel.FtpPort)
            @Html.EditorFor(model => model.ReceiverViewModel.FTPViewModel.FtpPort, new { htmlAttributes = new { @Value = "22", @class = "form-control", @type = "text" } })
        </div>
    </div>


    <div class="form-group row">
        <div class="col-lg-6">
            @Html.LabelFor(model => model.ReceiverViewModel.FTPViewModel.FtpLocalFolder)
            @Html.EditorFor(model => model.ReceiverViewModel.FTPViewModel.FtpLocalFolder, new { htmlAttributes = new { @class = "form-control" } })
        </div>
        <div class="col-lg-6">
            @Html.LabelFor(model => model.ReceiverViewModel.FTPViewModel.FtpRemoteFolder)
            @Html.EditorFor(model => model.ReceiverViewModel.FTPViewModel.FtpRemoteFolder, new { htmlAttributes = new { @Value = "/", @class = "form-control" } })
        </div>
    </div>
